/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(177, 249, 249);
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2em 1em;
  user-select: none;
  background: rgb(237, 234, 234);
}
.activeCard {
  color: rgb(26, 47, 237);
  background: rgb(255, 106, 210);
}
.time-button {
  color: #000415;
  background: rgb(124, 232, 58);
  display: inline;
  margin: 21.5em;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid black;
}
.box {
  margin-top: 10%;
  border: 1px solid red;
  padding: 10% 10px 50% 10px;
}
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
}
.box-time {
  padding-left: 11%;
}